### Vue template
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore


### Vuejs template
# Recommended template: Node.gitignore

.idea
node_modules/
.yarn
npm-debug.log
yarn-error.log

